---
layout: base.njk
title: 404
permalink: "/404/"
excludeFromSitemap: true
---

  <main class="not-found">
    <p class="not-found-title">404</p>
    <div class="not-found-container">
      <p class="not-found-text">
        Página não encontrada 
      </p>
      <a class="not-found-text" href="https://anothermimich.github.io/Lu.immich">Voltar para a página inicial</a>
  </main>
