---
layout: layouts/philosophy.njk
title: Filosofia
permalink: "/filosofia/"
description: "Pesquisa acadêmica em filosofia social, ontologia social feminista e contratualismo."
---



<div>
  Minha pesquisa se da na <h1 class="indirect-title">Filosofia Social e Política</h1>, com foco na <h2 class="indirect-title">ontologia social</h2> de categorias de gênero trans. Em
  outras palavras, investigo como as categorias sociais passam a existir e quais impactos elas têm na vida de
  pessoas trans. Atualmente, em minha tese doutoral, busco evidenciar estratégias de resistência à opressão trans
  em
  contextos não ideais, mobilizando um <i>framework</i> conferista.
</div>
<p>
  Uma das premissas dessa pesquisa é que categorias sociais são contextualmente variáveis. Uma leitora
  atenta, ao constatar isso, suspeitará que caracterizar o gênero desse modo coloca em risco a existência trans:
  se
  categorias sociais como o gênero dependem do contexto em que são instanciadas, os critérios de pertencimento a
  elas não são constantes. Logo, uma pessoa trans estará sujeita à categorização inadequada em ambientes hostis.
  Essa categorização imporá a essa pessoa um conjunto inadequado de restrições, o que configura opressão ôntica. Essa suspeita aponta para o problema que move minha investigação: como a engenharia conceitual
  de categorias de gênero pode evitar a opressão contra pessoas trans?
</p>