---
layout: layouts/project.njk
title: Semiotic Scale
permalink: "/scale/"
translatedUrl: "/en/scale/"
isProject: true
description: "A Semiotic Scale é um PWA voltado a implementar uma interface altamente eficiente e minimalista para balanças de café bluetooth. Atualmente a compatibilidade esta limitada a Timemore Dot."
image: "/project-files/scale/scale-01.webp"
custom_css: "scale.css"
priority: 0.6
year: "2026"
team: "<b>Lu Immich </b><br class='project-team-line-break'>(Design)"
description_html: |
  <p></p>
  <p></p>
---

<!-- Page-Specific Scripts -->
<script src="/js/scale/app.js"></script>
<script src="/js/scale/ble-manager.js"></script>
<script src="/js/scale/timemore-decoder.js"></script>