---
layout: layouts/project.njk
title: "Teclado<br> K01"
permalink: "/k01/"
translatedUrl: "/en/k01/"
isProject: true
description: "Design de produto do Teclado K01. Este é um teclado ortolinear dividido (split) inspirado no movimento de Design Internacional."
image: "/project-files/k01/k01-06.webp"
priority: 0.6
year: "2024"
team: "<b>Lu Immich </b><br class='project-team-line-break'>(Design) <br> <b> Aline Dal Pont </b><br class='project-team-line-break'>(Fotografia)"
link_url: "https://github.com/luimmich/k01"
link_label: "Repositório"
state: "Open-source"
description_html: |
  <p><b>Conceito</b> <br>Este teclado ergonômico repensa a relação entre humano e máquina com o objetivo de evitar lesões advindas do uso prolongado de computador. Diferente de um teclado convencional, seu design dividido em duas partes permite ajustar a posição de acordo com a largura dos ombros e o ângulo dos pulsos. O alinhamento de 90&deg; entre linhas e colunas se deve ao movimento natural de contração dos dedos, que por sua vez é linear.</p>
  <p><b>Peças</b> <br> Neste projeto optei por empregar componentes amplamente disponíveis no mercado reinventando suas funções. Deste modo tornou-se possível utilizar componentes em alumínio usinado, plástico injetado e eletrônicos sem elevar o custo de fabricação em baixa escala.</p>
---

<section class="project-img-container">
  {% image "project-files/k01/k01-06.webp", "Teclado K01 - vista de cima", "project-img" %}
  {% image "project-files/k01/k01-01.webp", "Teclado K01 - vista lateral", "project-img" %}
  {% image "project-files/k01/k01-02.webp", "Teclado K01 - vista de cima", "project-img" %}
  {% image "project-files/k01/k01-03.webp", "Teclado K01 - vista detalhe", "project-img" %}
  {% image "project-files/k01/k01-04.webp", "Teclado K01 - vista detalhe", "project-img" %}
</section>
