---
layout: layouts/project.njk
title: "Teclado<br> K02"
permalink: "/k02/"
translatedUrl: "/en/k02/"
isProject: true
description: "O design de produto do Teclado K02 foca em ergonomia, forma, funcionalidade e baixo custo."
image: "/project-files/k02/k02-04.webp"
priority: 0.6
year: "2025"
team: "<b>Lu Immich </b><br class='project-team-line-break'>(Design) <br> <b> Aline Dal Pont </b><br class='project-team-line-break'>(Fotografia e Arte)"
links:
  - label: "KBD.news"
    url: "https://kbd.news/K02-Sweeping-the-Sweep-2548.html"
  - label: "Repositório"
    url: "https://github.com/luimmich/k02"
state: "Open-source"
description_html: |
  <p>Este teclado ergonômico repensa a relação entre humano e máquina com o objetivo de evitar lesões advindas do uso prolongado de computador. Diferente de um teclado convencional, seu design dividido em duas partes permite ajustar a posição de acordo com a largura dos ombros e o ângulo dos pulsos. O alinhamento desigual entre linhas e colunas visa abranger a diferença de tamanho entre de cada dedo.</p>
  <p>Este teclado emprega uma PCB customizada visando maximizar o alcance as teclas por meio do movimento natural dos dedos, desse modo tornando o teclado uma extensão da mão do usuário. O PCB conta com uma arte exclusiva da artista visual Aline Dal Pont. As demais peças utilizadas visam propiciar a produção em baixa escala e fácil manutenção mantendo um custo relativamente baixo.</p>
---

<section class="project-img-container">
  {% image "project-files/k02/k02-02.webp", "Teclado K02 - vista superior", "project-img" %}
  {% image "project-files/k02/k02-04.webp", "Teclado K02 - vista lateral", "project-img" %}
  {% image "project-files/k02/k02-06.webp", "Teclado K02 - Arte PCB", "project-img" %}
  {% image "project-files/k02/k02-05.webp", "Teclado K02 - vista lateral", "project-img" %}
  {% image "project-files/k02/k02-03.webp", "Teclado K02 - detalhe", "project-img" %}
</section>
