---
layout: layouts/project.njk
title: DESAN
permalink: "/en/desan/"
isProject: true
description: "Visual identity developed for DESAN."
image: "/project-files/desan/desan4.webp"
priority: 0.6
year: "2025"
team: "<b>Lu Immich </b><br class='project-team-line-break'>(Design)"
client: "DESAN <span class='small-caps'>(UFRGS)</span>"
link_url: "https://www.instagram.com/desan.ufrgs/"
link_label: "Instagram"
description_html: |
  <p>The visual identity project developed for the <a href="https://www.instagram.com/desan.ufrgs/">Study Group on Social Determinants of Food, Nutrition, and Health</a> (<span class="small-caps">DESAN</span>), affiliated with <a href="https://www.ufrgs.br/site/">UFRGS</a>, seeks to combine the solidity of university research with an openness to public dialogue. To achieve this, Gestalt principles were mobilized, inviting the observer to actively participate in the brand's visual composition.</p>
  <p>The solidness of the logo is balanced by light graphic elements, the color palette and typography were carefully defined to reflect the human and welcoming character inherent to nutrition. In short, the constructed identity translates two non-negotiable pillars of the group: academic rigor and a commitment to social impact.</p>
---

<section class="project-img-container">
  {% image "project-files/desan/desan4.webp", "DESAN Visual Identity Presentation", "project-img" %}
  <div class="project-split-img">
    {% image "project-files/desan/desan1.webp", "DESAN Brand Applications", "project-img" %}
    {% image "project-files/desan/desan2.webp", "Logo", "project-img" %}
  </div>
  {% image "project-files/desan/desan3.webp", "DESAN Logo Variations", "project-img" %}
  <div class="project-split-img">
    {% image "project-files/desan/desan6.webp", "DESAN Graphic Details", "project-img border-img" %}
    {% image "project-files/desan/desan5.webp", "DESAN Graphic Materials", "project-img" %}
  </div>
</section>
