---
layout: layouts/project.njk
title: "K02<br> Keyboard"
permalink: "/en/k02/"
isProject: true
description: "The product design for the K02 Keyboard focuses on ergonomics, form, functionality, and low cost."
image: "/project-files/k02/k02-04.webp"
priority: 0.6
year: "2025"
team: "<b>Lu Immich </b><br class='project-team-line-break'>(Design) <br> <b> Aline Dal Pont </b><br class='project-team-line-break'>(Photography and Art)"
link_url: "https://github.com/luimmich/k02"
link_label: "Repository"
state: "Open-source"
description_html: |
  <p><b>Concept</b> <br>This ergonomic keyboard rethinks the relationship between human and machine with the goal of preventing injuries arising from prolonged computer use. Unlike a conventional keyboard, its split design allows adjusting the position according to shoulder width and wrist angle. The staggered alignment between rows and columns aims to accommodate the difference in size of each finger.</p>
  <p><b>Parts</b> <br> This keyboard employs a custom PCB aiming to maximize key reach through the natural movement of the fingers, thereby making the keyboard an extension of the user's hand. The PCB features exclusive art by visual artist Aline Dal Pont. The other components used aim to facilitate low-scale production and easy maintenance while keeping a relatively low cost.</p>
---

<section class="project-img-container">
  {% image "project-files/k02/k02-02.webp", "K02 Keyboard - top view", "project-img" %}
  {% image "project-files/k02/k02-04.webp", "K02 Keyboard - side view", "project-img" %}
  {% image "project-files/k02/k02-06.webp", "K02 Keyboard - PCB Art", "project-img" %}
  {% image "project-files/k02/k02-05.webp", "K02 Keyboard - side view", "project-img" %}
  {% image "project-files/k02/k02-03.webp", "K02 Keyboard - detail view", "project-img" %}
</section>