---
layout: layouts/project.njk
title: "K01<br> Keyboard"
permalink: "/en/k01/"
isProject: true
description: "Product design for the K01 Keyboard. This is a split ortholinear keyboard inspired by the International Design movement."
image: "/project-files/k01/k01-06.webp"
priority: 0.6
year: "2024"
team: "<b>Lu Immich </b><br class='project-team-line-break'>(Design) <br> <b> Aline Dal Pont </b><br class='project-team-line-break'>(Photography)"
link_url: "https://github.com/luimmich/k01"
link_label: "Repository"
state: "Open-source"
description_html: |
  <p><b>Concept</b> <br>This ergonomic keyboard rethinks the relationship between human and machine with the goal of preventing injuries arising from prolonged computer use. Unlike a conventional keyboard, its split design allows adjusting the position according to shoulder width and wrist angle. The 90&deg; alignment between rows and columns is due to the natural contraction movement of the fingers, which is linear.</p>
  <p><b>Parts</b> <br> In this project, I chose to use components widely available on the market, reinventing their functions. In this way, it became possible to use machined aluminum, injection-molded plastic, and electronic components without raising the cost of low-scale manufacturing.</p>
---

<section class="project-img-container">
  {% image "project-files/k01/k01-06.webp", "K01 Keyboard - top view", "project-img" %}
  {% image "project-files/k01/k01-01.webp", "K01 Keyboard - side view", "project-img" %}
  {% image "project-files/k01/k01-02.webp", "K01 Keyboard - top view", "project-img" %}
  {% image "project-files/k01/k01-03.webp", "K01 Keyboard - detail view", "project-img" %}
  {% image "project-files/k01/k01-04.webp", "K01 Keyboard - detail view", "project-img" %}
</section>