---
layout: layouts/project.njk
title: "Queer<br>Readings"
permalink: "/en/leituras-queer/"
isProject: true
description: "Visual identity and graphic pieces developed for the Queer Readings group."
image: "/project-files/leituras-queer/Cartaz-gravidade.webp"
priority: 0.6
year: "2024"
team: "<b>Lu Immich </b><br class='project-team-line-break'>(Design)"
description_html: |
  <p>I conceived and founded the Queer Readings Group (Grupo de Leituras Queer), a research space institutionally linked to <a class="small-caps" href="https://portal.ufsm.br/projetos/publico/projetos/view.html;jsessionid=4958d02f0565309a6d6d12415c50?idProjeto=424667" target="_blank" rel="noopener noreferrer">GEFI</a> and the <a href="https://www.ufsm.br/cursos/pos-graduacao/santa-maria/ppgf" target="_blank" rel="noopener noreferrer">Graduate Program in Philosophy at <span class="small-caps">UFSM</span></a>. The project was designed to discuss gender and sexuality from a rigorous philosophical perspective, initially focusing on the work of Judith Butler and its tensions in non-canonical contexts. To mitigate academic barriers, I implemented a joint reading methodology during the hybrid meetings, ensuring an accessible environment that does not require mandatory prior reading.</p>
  <p>To materialize the project, I worked at the intersection of design and technology by developing the group's visual identity and website. Applying UI/UX principles, the platform acts as a <i>hub</i> that centralizes meeting logistics, guidelines, and bibliographic collections. This information architecture replaces dense lists with logical navigation. Notably, it features a <a href="https://luimmich.github.io/leiturasqueer/texts.html" target="_blank" rel="noopener noreferrer">custom infographic that visually maps the reading path</a>, directly reducing the students' cognitive load.</p>
---

<section class="project-img-container">
  <div class="project-split-img">
    {% image "project-files/leituras-queer/Cartaz-gravidade.webp", "Poster", "project-img" %}
    {% image "project-files/leituras-queer/Cartaz-caca-pal.webp", "Poster", "project-img" %}
  </div>
  <div class="project-split-img">
    {% image "project-files/leituras-queer/Cartaz-encontro.webp", "Poster", "project-img" %}
    {% image "project-files/leituras-queer/Ecobag-Mockup.webp", "Tote bag", "project-img" %}
  </div>
</section>