---
layout: layouts/philosophy.njk
title: Philosophy
permalink: "/en/philosophy/"
translatedUrl: "/filosofia/"
description: "Academic research in social philosophy, feminist social ontology, and contractualism."
---

<div>
  My research is situated in <h1 class="indirect-title">Social and Political Philosophy</h1>, focusing on the <h2 class="indirect-title">social ontology</h2> of trans gender categories. In
  other words, I investigate how social categories come into existence and what impacts they have on the lives of
  trans people. Currently, in my doctoral dissertation, I seek to highlight strategies of resistance to trans oppression in
  non-ideal contexts, mobilizing a conferralist <i>framework</i>.
</div>
<p>
  One of the premises of this research is that social categories are contextually variable. An attentive reader,
  upon realizing this, will suspect that characterizing gender in this way puts trans existence at risk:
  if
  social categories such as gender depend on the context in which they are instantiated, the criteria for membership in
  them are not constant. Therefore, a trans person will be subject to inappropriate categorization in hostile environments.
  This categorization will impose an inappropriate set of constraints on that person, which constitutes ontic oppression. This suspicion points to the problem that drives my investigation: how can the conceptual engineering
  of gender categories prevent oppression against trans people?
</p>